<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title> Protein View of {{GeneID}}</title>
</head>
<body>

<h1>Gene: {{GeneID}} ({{GeneName}})</h1>

<div style="font-size: 14pt; margin-bottom: 1em;">

A member of: 
{% for FamAbbrev in families_for_this_gene %}
  <a href="/summary/{{FamAbbrev}}">{{FamilyName}} ({{FamAbbrev}})
   family</a>{% if not forloop.last %},{% endif %}
{% endfor %}

</div>

<p>Locus: {{GeneID}}</p>
<p>Display name: {{GeneName}}</p> 
<p>IDs: {{OtherIDs}}<p>
<p>Source Description: {{GeneDescrip}}</p>




<p style="text-align: right">
  <a href="http://validator.w3.org/check?uri=referer">Validate HTML</a>
</p>

</body>
</html>
