<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title>Structure of {{FamilyName}}</title>
</head>
<body>

<h1>Structure of {{FamilyName}} ({{FamilyAbbrev}})</h1>

<div style="font-size: 14pt; margin-bottom: 1em;"><a href="/">All Families</a></div>

<div style="font-size: 18pt; word-spacing: 1em;">
<a href="/summary/{{FamilyAbbrev}}">Summary</a>
<a href="{{ALIGNMENTS_URL_PREFIX}}/NAD3.fasta.sasha.html">Alignment</a>
Structure
<a href="/tree/{{FamilyAbbrev}}">Tree</a>
</div>

<ul>
{% for key, i in members.items %}
<li><a href="/{{key}}">{{key}}</a><br /><img src="http://bioweb.ucr.edu/Cellwall/sequence.pl?action=render_seqview&sequence_id=457" /></li>
{% endfor %}
</ul>



<p style="text-align: right">
  <a href="http://validator.w3.org/check?uri=referer">Validate HTML</a>
</p>

</body>
</html>
