<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title>Cellwall of {{FamilyAbbrev}}</title>
</head>
<body>

<h1>Family: {{FamilyName}} ({{FamilyAbbrev}})</h1>
<ul>
{% for key, val in members.items %}
<li><a href="/gene/">{{key}}</a> {{val.name}} {{val.species}}<br /><p>{{val.description}}</p></li>
{% endfor %}
</ul>



<p style="text-align: right">
  <a href="http://validator.w3.org/check?uri=referer">Validate HTML</a>
</p>

</body>
</html>
